
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đ hàng của quý khách đã đươươc chúng tôi ghi nhââ</h2>
<p>
    @Html.ActionLink("Trở vê trang chủ", "Index","DUNGCU")
</p>

