
@{
    ViewBag.Title = "Thanhtoan";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2 style="text-align:center">HÌNH THỨC THANH TOÁN</h2>
<h3>1. Thanh toán tiền mặt:</h3><br />
Khách hàng mua hàng tại Công ty và thanh toán trực tiếp cho nhân viên bán hàng.<br />
Nhân viên giao hàng của Tân Viễn Đông sẽ giao hàng và thanh toán tận nơi cho quý khách.<br />
Ngoài ra chúng tôi có thể giao hàng trước cho quý khách và thanh toán vào mỗi cuối tháng.<br />
<h3>2. Thanh toán bằng chuyển khoản:</h3><br />
* Đối với trường hợp có xuất Hóa đơn GTGT<br />
Quý khách chuyển khoản cho Công Ty của chúng tôi theo thông tin sau:<br />
Tên tài khoản: Công ty ABC<br />
Số tài khoản:  xxxx xxxx xxxx<br />
Tại : Ngân hàng Ngoại Thương Việt Nam, CN Tân Bình<br />
* Đối với trường hợp không xuất Hóa đơn GTGT<br />
Tên tài khoản: Nguyễn Hoàng An<br />
Số tài khoản: xxxx xxxx xxxx<br />
Ngân hàng:  Vietcombank CN Phú Thọ Tp.HCM<br />

