
@{
    ViewBag.Title = "Thongtin";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align:center">Thông tin Shop</h2>
Là một trong những doanh nghiệp có bề dày kinh nghiệm trên 10 năm chuyên cung cấp sỉ và lẻ các mặt hàng VPP với phong cách phục vụ tận tâm, nhanh chóng, uy tính. Lấy quyền lợi khách hàng đặt lên hàng đầu, chúng tôi luôn có những chính sách ưu đãi đặc biệt dành cho khách hàng.<br />
Hãy để chúng tôi là đối tác lâu dài, người bạn thân trong việc chuyên cung cấp các mặt hàng sau:<br />
• Sách<br />
• Vở<br />
• Bút<br />
• Giấy vẽ<br />
• Tẩy<br />
• Túi đựng bài kiểm tra<br />
• Cặp<br />
• Hộp bút<br />
• Tài liệu cho những bạn học sinh lười vượt khó<br />
• Các sản phẩm khác<br />
<div style="text-align:right">
    <h3 style="color:hotpink">Shop luôn tự hào là nhà phân phối các nhãn hiệu có tiếng trên thị trường và được các nhà sách, công ty, xí nghiệp chọn làm đối tác chiến lược.</h3>
    Hãy để Shop chúng tôi phục vụ các bạn!<br />
    <p style="color:blue">
        Hoặc gọi cho chúng tôi từ 7h30 đến 17h30 mỗi ngày trừ Chủ Nhật.<br />
        Điện thoại: 09xxxxxxxx  (or ) 02xxxxxxxx
    </p>
    Cám ơn các bạn đã ghé thăm.<br />
    Thân chào và hẹn gặp lại.
</div>

